.buttons {
  position: relative;
  height: 90px;
  margin-top: 10px;
}

#yesBtn {
  background-color: #4CAF50;
  color: white;
}

#noBtn {
  background-color: #f44336;
  color: white;
  position: absolute;
  left: 180px;   /* initial place */
  top: 0px;
  touch-action: none; /* IMPORTANT for mobile */
}
